@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    background-color: #f2f2f2;
}

@keyframes opacityShow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes opacityRemove{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.add_opacity{
    animation-name: opacityShow;
  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.remove_opacity{
    animation-name: opacityRemove;
    
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

div.selected{
    background-color: #EBEEFE;
    border: 2px solid #6D53E4;
}
