@keyframes opacityShow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes opacityRemove{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.add_opacity{
    animation-name: opacityShow;
  
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.remove_opacity{
    animation-name: opacityRemove;
    
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}